<% provide(:title, "About") %> 
<h1>About</h1>

<p>
  We are a bunch of tech entreprenuers who think every stupid decision can
  be reversed or fixed by Technology

  <%= line_break(3) %>


  Like Math can solve Mathematical problems. Getting together can fix any
  real life problem. 

  Why should you pay and help who suffer?


  <%= link_to image_tag("crying.png", alt: "Crying Women") %>

  Because you are Human and you only religion is Humanity. Agreed? 

  Imagine 1.252 Billion Indian population paying just One Rupee. We 1.252 population has the power to run our own fucking Govt.

  <%= line_break(3) %>

  This sitution looks even smaller :D
</p>