<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  If you want any kind of help regarding donation you can contact our
  help team any where

  <div class="col-md-3 img-responsive small-size">
  <%= link_to image_tag("abhimanyu.png", alt: "Abhimanyu Aryan"), "https://www.facebook.com/iAbhimanyuAryan/" %> Abhimanyu Aryan

  <%= link_to image_tag("aditya.png", alt: "Aditya Gulia"),
  "https://www.facebook.com/-----------" %> Aditya Gulia
  </div>

</p>
