<div class="center jumbotron">
  <h1>Save Haryana Campaign</h1>

  <h2>This website is to help people who suffered in. We are <em>trying</em> to gather some amount to help poor people who lost there homes, shops in
  </h2>

  <%= link_to "Donate Now", 'http://www.funddreamsindia.com/campaign/a-helping-hand-to-rebuild-haryana/499/', class: "btn btn-lg btn-primary" %>

  <%= link_to "All Recieved Donations", signup_path , class: "btn btn-lg btn-success" %></a>

  </div>
  
  <%= link_to image_tag("cars1.png", alt: "Burnt show room"), '#' %>
  <p class="center">
  
  
  <%= line_break(3) %>
  
  <a href="">Haryana gathers donation</a> is a affort to help who lost
  something more than just hope. 
  
  <%= line_break(2) %>
  <%= link_to image_tag("powerhouse.png", alt: "Burnt cars"), '#' %>
  <%= line_break(2) %>

  All you need to do is <i>contact us</i> via telephone/email/Social Networking(Twitter/Facebook/Google Plus/Instagram any one of your choice). And submit your donation publicly to the list

  We will offer your donation to people who are suffering. 

  <%= line_break(2) %>
  <%= link_to image_tag("buses.png", alt: "Buses Burnt"), '#' %>

  <%= line_break(2) %>

  There are people who watch movies and clap on heroic actions. Well its your time to a hero. You wish to be hero? Donate any amount of money you feel like

  <%= line_break(2) %>
  <%= image_tag("bikes.png", alt: "Bikes Burnt") %>
  <%= line_break(1) %>

  If wish to donate anonymously, you can donate via Bitcoin. Just make a account on Coinsecure. And pay via Bitcoin on the string Below

  <%= line_break(3) %>

  We accept Bitcoin payments upto 1 crore. Thanks for being human. You are a great example of humanity
</p>
