<footer class="footer">
  <small>
    The <i>Save Haryana Campaign</i>
    by an <i>Educated JAT</i>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="Link to where the news would show up">News</a></li>
    </ul>
  </nav>
</footer>